@font-face {
  font-family: "Integral";
  src: url("/fonts/integral.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Momcake";
  src: url("/fonts/momcake_bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Momcake";
  src: url("/fonts/momcake_thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Prayer";
  src: url("/fonts/prayer.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
